<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container">
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page">
                <a href="#!/">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item" aria-current="page">
                Jobs
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {{vm.job.jobName}}
            </li>
        </ol>
    </nav>
    <h1>
        {{vm.job.jobName}}
    </h1>
    <hr />
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Job Stats
                </div>
                <div class="card-body">
                    <span>
                        Status:
                    </span>
                    <br />
                    <span>
                        {{vm.job.jobStatus}}
                    </span>
                    <br />
                    <br />
                    <span>
                        Progress
                    </span>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" ng-style="{'width': vm.progress + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{vm.progress}}%</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-header">
                    Information
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 align-left">
                            Start:
                        </div>
                        <div class="col-6 align-right">
                            {{vm.result.start | date:'short'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 align-left">
                            End:
                        </div>
                        <div class="col-6 align-right">
                            {{vm.result.end | date:'short'}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 align-left">
                            Genomes processed:
                        </div>
                        <div class="col-6 align-right">
                            <span class="align-right" ng-repeat="genomeId in vm.job.genomeIds">
                                {{genomeId}}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 align-left">
                            Resistance genes checked:
                        </div>
                        <div class="col-6 align-right">
                            <span class="align-right" ng-repeat="resistanceGeneId in vm.job.resistanceGeneIds">
                                {{resistanceGeneId}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Results
                </div>
                <div class="card-body">
                    <div id="accordion" role="tablist">
                        <div class="card" ng-repeat="entry in vm.result.entries track by $index">
                            <div class="card-header" role="tab" id="result-heading-{{$index}}">
                                <h6 class="mb-0 float-left">
                                    <a class="accordion-toggle" data-toggle="collapse" data-target="#result-{{$index}}" aria-expanded="true" aria-controls="collapseOne">
                                        {{entry.genomeId}} - {{entry.resistanceGeneId}}
                                    </a>
                                </h6>
                                <span class="badge badge-secondary float-right">
                                    Score: {{entry.score}}
                                </span>
                            </div>

                            <div id="result-{{$index}}" class="collapse" role="tabpanel" aria-labelledby="result-heading-{{$index}}" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="card">
                                        <div class="card-header">
                                            Information
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-4">
                                                        Organism:
                                                    </div>
                                                    <div class="col-8">
                                                        {{entry.genomeName}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        Resistance gene:
                                                    </div>
                                                    <div class="col-8">
                                                         {{entry.resistanceGeneName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="card">
                                        <div class="card-header">
                                            Alignment
                                        </div>
                                        <div class="card-body">
                                            <div class="alignment-viewer">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
